<% layout('layouts/boilerplate')%>

  <div class="back-buttons btn-group mt-5" role="group">
    <a href="/organisateur/home" class="btn btn-outline-success btn-lg" type="button">Retour à l'accueil</a>
  </div>

  <div class="container my-5 d-flex justify-content-between event-container">
    <div style="width: 100%;">
      <h1 class="text-center" style="border-bottom: rgba(94, 160, 73, 255) 3px solid; border-radius: 5px;">
        <%= capitalize(event[0]._doc.title) %>
      </h1>
      <h4>
        créé par <span class="fs-1"><%= capitalize(event[0]._doc.organizerId.prenom) %> <%= capitalize(event[0]._doc.organizerId.nom) %></span>
      </h4>
      <h2>
        <span class="fs-4" style="color: black;">Le <b class="date-event fs-2 mx-2"></b></span>
        <span> à <b class="ms-2"><%= capitalize(event[0]._doc.place) %></b></span>
        <% if (event[0].tag == "Demain") { %>
            <span class="badge bg-warning me-2 fs-5">Demain</span>
        <% } else if (event[0].tag == "Dépassé") {  %>
            <span class="badge bg-danger me-2 fs-5">Dépassé</span>
        <% } %>
      </h2>
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <div class="me-2">
            <a href="/organisateur/evenement/<%= event[0]._doc._id %>/edit"
              class="btn btn-primary theme-color-button">Modifier</a>
          </div>
          <button type="button" class="btn btn-primary theme-color-button" data-bs-toggle="modal"
            data-bs-target="#sendNotif">
            Envoyer une notification aux participants
          </button>
          <div class="modal fade" id="sendNotif" tabindex="-1" aria-labelledby="notifModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Nouvelle notification</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/organisateur/notif/<%= event[0]._doc._id %>" method="post" id="send-notif-form">
                    <div class="mb-3">
                      <select class="form-select" aria-label="Notification Type" name="type" id="type" required>
                        <option value="" disabled selected>Type de notification</option>
                        <option value="info">Information</option>
                        <option value="urgent">Urgent</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="message" class="col-form-label">Message:</label>
                      <textarea class="form-control" id="message" name="message" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary send-notif theme-color-button">Envoyer</button>
                </div>
              </form>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
          data-bs-target="#deleteEvent">
          Supprimer
        </button>
        <div class="modal fade" id="deleteEvent" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                Voulez-vous vraiment vous supprimer cet événement ?
                <br>
                <span>Les inscrits recevront une notification</span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <form action="/organisateur/evenement/<%= event[0]._doc._id %>/?_method=DELETE" method="post">
                  <button type="submit" class="btn btn-danger">Oui</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <% if (registrations.length !==0) { %>

    <div class="container my-5">
      <h2>Inscriptions:</h2>
    </div>
    <div class="container historique-table">
      <table class="table table-warning">
        <thead>
          <tr>
            <th scope="col">Prénom et Nom</th>
            <th scope="col">Adresse Email</th>
            <th scope="col">Inscrit(e) le</th>
            <th scope="col">Note</th>
            <th scope="col">Commentaire</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < registrations.length; i++) { %>
            <tr>
              <td>
                <%= registrations[i].participantId.prenom %>
                  <%= registrations[i].participantId.nom %>
              </td>
              <td>
                <%= registrations[i].participantId.email %>
              </td>
              <td class="inscrit-le">

              </td>
              <% if (ratings.length !== 0 && ratings[i]) { %>
                <td>
                  <%= ratings[i].Rating %>
                </td>
                <td>
                  <%= ratings[i].Comment %>
                </td>
              <% } %>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
    <% } else { %>
      <div class="container mt-5 d-flex flex-column align-items-center border border-success border-4 py-5 mb-5">
        <h3>Pas encore d'inscription pour cet événement!</h3>
      </div>
      <% } %>

        <script>
          function beautifiedDeadline(date) {
            return ("0" + date.getDate()).slice(-2) + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + date.getFullYear();
          }
          function beautifiedDeadlineHour(date) {
            return ("0" + date.getDate()).slice(-2) + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + date.getFullYear() + " à " + ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2);
          }
          const inscritLe = document.querySelectorAll('.inscrit-le');
          const dateEvent = document.querySelector('.date-event');
          const registrations = <%- JSON.stringify(registrations) %>;
          const event = <%- JSON.stringify(event) %>;

          for (let i = 0; i < registrations.length; i++) {
            inscritLe[i].innerHTML = beautifiedDeadlineHour(new Date(registrations[i].dateRegister))
          }
          dateEvent.innerHTML = beautifiedDeadline(new Date(event[0]._doc.date))
        </script>