<% layout('layouts/boilerplate')%>

<div class="back-buttons btn-group mt-5" role="group">
    <a href="/participant/home" class="btn btn-outline-success btn-lg" type="button">Retour à l'accueil</a>
</div>
    <div class="container my-5 d-flex justify-content-between event-container">
        <div style="width: 100%;">
            <h1 class="text-center" style="border-bottom: rgba(94, 160, 73, 255) 3px solid; border-radius: 5px;">
                <%= capitalize(event[0]._doc.title) %>
            </h1>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4>
                        créé par <span class="fs-1"><%= capitalize(event[0]._doc.organizerId.prenom) %> <%= capitalize(event[0]._doc.organizerId.nom) %></span>
                    </h4>
                    <h2>
                        <span class="fs-4" style="color: black;">Le <b class="date-event fs-2 mx-2"></b></span>
                        <span> à <b class="ms-2"><%= capitalize(event[0]._doc.place) %></b></span>
                        <% if (event[0].tag == "Demain") { %>
                            <span class="badge bg-warning me-2 fs-5">Demain</span>
                        <% } else if (event[0].tag == "Dépassé") {  %>
                            <span class="badge bg-danger me-2 fs-5">Dépassé</span>
                        <% } %>
                    </h2>
                </div>
                <div class="d-flex justify-content-end align-items-center" style="width: 50%;">
                    <% if (registration.length !== 0) { %>
                        <span class="badge bg-secondary me-3 fs-5">Vous vous êtes inscrit à cet événement le <span class="date-insc"></span></span>
                        <a href="#" class="btn btn-danger fs-5" data-bs-toggle="modal" data-bs-target="#unregister">
                            Se désinscrire
                        </a>
                        <div class="modal fade" id="unregister" tabindex="-1" aria-labelledby="unregisterModal" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-body">
                                    Voulez-vous vraiment vous désinscrire de cet événement ?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                                    <form action="/participant/unregister/<%= event[0]._doc._id %>/<%= registration[0]._id %>?_method=DELETE" method="post">
                                        <button type="submit" class="btn btn-danger">Oui</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                          </div>
                    <% } else { %>
                        <form action="/participant/register/<%= event[0]._doc._id %>" method="post" class="container">
                            <div class="container d-flex align-items-center justify-content-center">
                                <button type="submit" class="btn btn-primary theme-color-button fs-3">S'inscrire</button>
                            </div>
                        </form>
                    <% } %>
                </div>
            </div>
            <div>
                <p class="p-3 me-2" style="border: rgba(94, 160, 73, 255) 2px solid;">
                    <span class="fs-6">Description</span>
                    <br>
                    <span class="fs-3">
                        <%= capitalize(event[0]._doc.description) %>
                    </span>
                </p>
            </div>
            <% if (isRate) { %>
                <div class="p-3 me-2" style="border: rgba(94, 160, 73, 255) 2px solid;">
                        <span class="fs-1 text-center">Evaluez cet événement</span>
                        <br>
                        <form id="ratingForm" action="/participant/event/<%= event[0]._doc._id %>/rating" method="post">
                            <div class="d-flex justify-content-around align-items-center">
                                <div class="star-rating">
                                    <input type="radio" id="star5" name="rating" value="5" <% if (rating.length !== 0 && rating[0].Rating === 5) { %> checked <% } %>><label for="star5" title="5 stars">☆</label>
                                    <input type="radio" id="star4" name="rating" value="4" <% if (rating.length !== 0 && rating[0].Rating === 4) { %> checked <% } %>><label for="star4" title="4 stars">☆</label>
                                    <input type="radio" id="star3" name="rating" value="3" <% if (rating.length !== 0 && rating[0].Rating === 3) { %> checked <% } %>><label for="star3" title="3 stars">☆</label>
                                    <input type="radio" id="star2" name="rating" value="2" <% if (rating.length !== 0 && rating[0].Rating === 2) { %> checked <% } %>><label for="star2" title="2 stars">☆</label>
                                    <input type="radio" id="star1" name="rating" value="1" <% if (rating.length !== 0 && rating[0].Rating === 1) { %> checked <% } %>><label for="star1" title="1 star">☆</label>
                                </div>
                                <div>
                                    <textarea cols="50" rows="7" class="fs-4" name="comment" id="comment" placeholder="Ecrivez un commentaire" value=""></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-lg btn-primary theme-color-button my-3 <% if (rating.length !== 0) { %> disabled <% } %>" style="width: 100%;">Submit</button>
                        </form>
                </div>
            <% } %>
        </div>
    </div>
    
    <script>
        function beautifiedDeadline(date) {
            return ("0" + date.getDate()).slice(-2) + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + date.getFullYear();
        }
        function beautifiedDeadlineHour(date) {
            return ("0" + date.getDate()).slice(-2) + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + date.getFullYear() + " à " + ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2);
        }

        const dateEvent = document.querySelector('.date-event')
        const dateInsc = document.querySelector('.date-insc')

        const registration = <%- JSON.stringify(registration) %>;
        const event = <%- JSON.stringify(event) %>;

        dateEvent.innerHTML = beautifiedDeadline(new Date(event[0]._doc.date))
        dateInsc.innerHTML = beautifiedDeadlineHour(new Date(registration[0].dateRegister))

        const rating = <%- JSON.stringify(rating) %>;
        const comment = document.getElementById('comment');
        comment.value = rating[0].Comment;
    </script>